{% extends 'admin/admin_panel.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <a class="btn btn-default navbar-btn" href="{{ path('add_category') }}">{{ 'add.category'|trans }}</a>
        </div>

        <div class="jumbotron col-md-6">
            {% if categories is not empty %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'category.name'|trans }}</th>
                            <th>{{ 'options'|trans }}</th>
                        </tr>
                    </thead>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{{ path('edit_category', {'id': category.id}) }}" class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-edit"></span> {{ 'edit'|trans }}
                                    </a>
                                    <a href="{{ path('delete_category', {'id': category.id}) }}" class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove"></span> {{ 'delete'|trans }}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                {{ 'no.categories'|trans }}
            {% endif %}
        </div>
    </div>
{% endblock %}